@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainbg {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.inputbg {
  background-color: #EAEAEA;
}

.darkbg {
  background-color: #468585bd;
}

.registerbtn-active::after,
.loginbtn-active::after{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  height: 35px;
  width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}



.name-anim{
  transform: translate(0%);
}
.email-anim{
  height: 40px;
}
.pass-anim{
  transform: translate(0%);
}